.section-container {
    margin: 150px;
    margin-left: 25px;
    position: relative;
    display: flex;
}

#back-to-campaign {
    position: absolute;
    top: -125px;
    left: -20px;
    color: white;
}

#section-list {
    width: 500px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#section-title-container {
    display: flex;
    flex-direction: column;
}

#section-title {
    font-size: 40px;
    margin-bottom: 40px;
}

#article-link {
    font-size: 24px;
}

#edit-section-button {
    margin-bottom: 20px;
    height: 30px;
    max-width: 100px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    transition-duration: 250ms;
}

#edit-section-button:hover {
    cursor: pointer;
    background-color: #930C10;
}