.section-container {
    margin: 150px;
    margin-left: 25px;
    position: relative;
    display: flex;
}

#back-to-campaign {
    position: absolute;
    top: -125px;
    left: -20px;
    color: white;
}

#section-list {
    width: 500px;
    margin-left: 150px;
}

#section-title {
    font-size: 40px;
    margin-bottom: 40px;
}

#article-link {
    font-size: 24px;
}