.user-home-container {
    display: flex;
    flex-direction: column;
    max-width: 1900px;
}

#campaigns-container {
    height: 300px;
    border-bottom: 2px solid #AAAAAA;
    padding: 50px 250px;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    position: relative;
}

#campaign-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#characters-container {
    padding: 50px 250px;
    height: 49vh;
    display: flex;
    justify-content: space-between;
}

#character-image {
    position: absolute;
    top: 527px;
    left: 0;
    width: 100%;
    height: 56.7%;
}

#characters-list > p,
#campaigns-list > p {
    margin-left: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#characters,
#campaigns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#character,
#campaign {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 24px;
}

#character > a:hover,
#campaign > a:hover {
    text-decoration: underline;
}

.fa-trash {
    cursor: pointer;
    color: #B32C30;
    margin-right: 10px;
    opacity: 0;
    font-size: 16px;
    transition-duration: 100ms;
}

#character:hover > .fa-trash,
#campaign:hover > .fa-trash {
    opacity: 1;
}

#add-character-button {
    border: none;
    border-radius: 5px;
    background-color: black;
    border: 1px solid gray;
    color: white;
    height: 50px;
    width: 170px;
    font-size: 16px;
    transition-duration: 250ms;
}

#add-character-button:hover {
    background-color: #930C10;
    border: none;
    cursor: pointer;
}

#user-home-button {
    max-height: 50px;
    margin: 40px 20px;
}

#campaigns-list,
#characters-list {
    padding: 50px;
}