.login-container,
.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-end;
    padding-right: 15%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, #242424 58%, #222222 100%)
}

#login-background,
#signup-background {
    height: 90vh;
    z-index: 0;
}

#login-form,
#signup-form {
    width: 290px;
}

#login-form-field,
#signup-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#login-form-field *,
#signup-form-field * {
    margin-bottom: 10px;
}

#login-form-field input,
#signup-form-field input {
    border-radius: 4px;
    border: none;
    height: 25px;
}

#login-button-div {
    display: flex;
}

#login-button,
#signup-button,
#demo-button {
    color: white;
    background-color: black;
    border: none;
    width: 75px;
    height: 25px;
    border-radius: 5px;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 16px;
    margin: 0 20px;
    transition-duration: 250ms;
}

#demo-button {
    text-align: center;
    line-height: 1.6;
}

#login-button:hover,
#signup-button:hover,
#demo-button:hover {
    cursor: pointer;
    background-color: #930C10;
}

#logout-button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 20px;
    margin: 10px;
}