@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#new-campaign-button {
    cursor: pointer;
    margin: 40px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background: black;
    color: white;
    line-height: 2;
    height: 50px;
    width: 175px;
    transition-duration: 250ms;
    font-size: 16px;
}

#new-campaign-button:hover {
    background-color: #930C10;
    border: none;
}

#user-home-button {
    max-height: 50px;
}

.create-campaign-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1E1E1E;
    color: white;
    border: 1px solid #2E2E2E;
    width: 500px;
    min-height: 525px;
    padding: 20px;
    border-radius: 5px;
}

.create-campaign-container > * {
    padding: 10px;
}

.create-campaign-container > div > p {
    padding-top: 15px;
    font-size: 14px;
    color: #AAAAAA;
    line-height: 1.3;
}

.create-campaign-form {
    display: flex;
    flex-direction: column;
    height: 150px;
}

#campaign-title-input {
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid #666666;
    font-family: 'Montserrat';
    font-size: 20px;
    height: 35px;
    color: white;
    padding: 5px 5px;
}


#create-campaign-button {
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    max-width: 100px;
    flex-grow: 1;
}

#create-campaign-button > button {
    background-color: black;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 250ms;
}

#create-campaign-button:hover > button {
    background-color: #930C10;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#create-campaign-button > button:disabled {
    color: rgba(16, 16, 16, 0.3);
    background-color: #555555;
    cursor: not-allowed;
}

.form-field textarea {
    resize: none;
    min-height: 200px;
    padding: 5px 5px;
}