#navbar-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #AAAAAA;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 125px;
    width: auto;
    font-size: 20px;
    padding-left: 20px;
}

#navbar-container a {
    color: white;
    text-decoration: none;
}

#nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80%;
}

#login-logout-container * {
    display: flex;
    margin: 20px 20px;
}