#navbar-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #AAAAAA;
    color: white;
    height: 100px;
    width: 100vw;
}

#navbar-container a {
    color: white;
    text-decoration: none;
}

#nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80%;
}

#login-logout-container * {
    margin: 20px 20px;
}