#navbar-container * {
    z-index: 1000;
}

#navbar-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #AAAAAA;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 125px;
    width: auto;
    font-size: 20px;
    padding-left: 20px;
    max-width: 1880px;
}

#navbar-container a {
    color: white;
    text-decoration: none;
}

#nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80%;
}

#login-logout-items > * {
    margin: 20px 20px;
}

#user-navbar-container {
    display: flex;
    align-items: center;
    position: relative;
}

#user-navbar-menu {
    position: absolute;    
    top: 50px;
    right: 0;
    width: 250px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

#user-navbar-container > img,
#user-navbar-container > h2,
#user-navbar-container > i {
    cursor: pointer;
}

#user-navbar-menu * {
    padding: 0;
    margin: 10px 5px;
    z-index: 1000;
}

#change-profile-pic-button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
}