.campaign-container {
    display: flex;
    justify-content: space-between;
}

.campaign-container > * {
    margin: 0 25px;
    margin-top: 150px;
    margin-right: 50px;
}

#campaign-sections-container,
#campaign-characters-container {
    width: 250px;
}

#sections-header,
#characters-header {
    display: flex;
    justify-content: space-between;
}

#campaign-sections-list,
#campaign-characters-list {
    margin-top: 10px;
    padding: 10px;
    padding-top: 15px;
    border: 3px solid black;
    min-height: 600px;
    border-radius: 10px;
    background-color: #333333;
    width: 250px;
}

#campaign-info {
    width: 700px;
    min-width: 600px;
    text-align: center;
    line-height: 1.4;
}

#campaign-title {
    margin-bottom: 100px;
    font-size: 36px;
}

#campaign-description {
    text-align: justify;
    overflow-wrap: break-word;
    white-space: pre-line;
    font-size: 16px;
}

#campaign-title-and-edit {
    display: flex;
    justify-content: center;
}

#add-section-user-button {
    height: 30px;
    width: 100px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    transition-duration: 250ms;
}

#add-section-user-button:hover {
    cursor: pointer;
    background-color: #930C10;
}

#edit-campaign-button {
    margin-left: 20px;
    height: 30px;
    width: 100px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    transition-duration: 250ms;
}

#edit-campaign-button:hover {
    cursor: pointer;
    background-color: #930C10;
}

#campaign-title-and-edit input {
    text-align: center;
    border-radius: 5px;
    border: none;
}

#campaign-info textarea {
    border-radius: 5px;
    resize: none;
    width: 600px;
    height: 500px;
    padding: 13px;
    font-size: 16px;
}

#campaign-character {
    margin: 10px 0;
    display: flex;
}

#campaign-character * {
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

#change-character {
    cursor: pointer;
}

#change-character:hover {
    text-decoration: underline;
}